header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    background-color: #0F4C75;
    border-radius: 10px;
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
    vertical-align: middle;
}

h2 {
    color: white;
}

.imgHeader {
    width: 100px;
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    background-color: #0F4C75;
    margin-top: auto;
    margin-bottom: auto;
}

header app-dropdown-button {
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 5px;
}